# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Load the CircleCI Windows orb
orbs:
  win: circleci/windows@5.0.0

jobs:
  run-all-tests:
    executor:
      name: win/default
    steps:
      - checkout
      - run:
          name: "Restore project dependencies"
          command: dotnet.exe restore /p:SkipNet7=True
      - run:
          name: "Run tests"
          command: dotnet.exe test /p:SkipNet7=True --collect:"XPlat Code Coverage"
      - store_artifacts:
          path: RestAssured.Net.Tests/*/coverage.cobertura.xml
          destination: code_coverage.xml
          
workflows:
  run-rest-assured-net-tests:
    jobs:
      - run-all-tests